<!DOCTYPE html>
<!--	footer.ejs

	For Indian Hills Community College
	Parking On Hills, https://parking.indianhils.edu
	by Blaine Harper

	PURPOSE: Footer for Parking UI
--><!-- Footer -->
<footer class="text-center bg-dark text-lg-start text-muted" style="margin-top:5em;">
	<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<div class="me-5 d-none d-lg-block">
			<span>Get connected with us on social networks:</span>
		</div>
		<div>
			<a href="https://twitter.com/danealue" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
			<a href="https://github.com/bhar2254" class="me-4 text-reset"><i class="fab fa-github"></i></a>
		</div>
	</section>
	<section class="">
		<div class="container text-center text-md-start mt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h6 class="text-uppercase fw-bold mb-4"></i>BlaineHarper.com</h6>
					<p>Endeavouring to make web development more accessible to the end-user.</p>
				</div>
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
				<h6 class="text-uppercase fw-bold mb-4">Products</h6>
				<p><a href="https://www.tutorialspoint.com/expressjs/index.htm" class="text-reset">Express.js</a></p>
				<p><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" class="text-reset">Bootstrap 5</a></p>
				<p><a href="https://www.w3schools.com/MySQL/default.asp" class="text-reset">MySQL DB</a></p>
			</div>
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
				<h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
				<p><a href="https://github.com/bhar2254" class="text-reset">Projects</a></p>
				<p><a href="mailto:blaine@blaineharper.com" class="text-reset">Contracting</a></p>
			</div>
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
				<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
				<p><i class="fas fa-home me-3"></i>Oskaloosa, IA</p>
				<p><i class="fas fa-envelope me-3"></i>blaine@blaineharper.com</p>
				<p><i class="fas fa-phone me-3"></i>+ 44 0118 999 881 999 119 7253</p>
			</div>
			</div>
		</div>
	</section>
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		<a class="text-reset fw-bold" href="https://mdbootstrap.com/">BlaineHarper.com</a> © 2023 Copyright
	</div>
</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.js"></script>
	<script src="https://kit.fontawesome.com/5496aaa581.js" crossorigin="anonymous"></script>
</body>
</html>