<!DOCTYPE html>
<!--	index.ejs

	For Indian Hills Community College
	Parking On Hills, https://parking.indianhils.edu
	by Blaine Harper

	PURPOSE: Sample landing page. Currently unused
-->
<%- include("navbar.ejs") %>
	<div class="container-fluid py-5">
		<div class="container py-3" style='background-color:green;'>
			<h1><%- env.title %></h1>
			<h3><%- env.subtitle %></h3>
		</div>
	</div>
<%- include("footer.ejs") %>
