<!DOCTYPE html>
<!--	index.ejs

	For Indian Hills Community College
	Parking On Hills, https://parking.indianhils.edu
	by Blaine Harper

	PURPOSE: Sample landing page. Currently unused
-->
<%- include("../base/navbar.ejs") %>
	<div class="container-fluid py-5">
		<div class="container py-3">
			<h1><%- title %></h1>
			<h3><%- subtitle %></h3>
		</div>
	</div>
	<div class="container text-center">
		<div class="row py-3 row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
			<div class="col">
				<div class="card text-center">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item">
								<a class="nav-link active" aria-current="true" href="#">Active</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" aria-disabled="true">Disabled</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						  Launch demo modal
						</button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-center">
					<div class="card-header">
						Featured
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<button type="button" class="btn btn-primary position-relative">
							Profile
							<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
							<span class="visually-hidden">New alerts</span></span>
						</button>
					</div>
					<div class="card-footer text-body-secondary">
						2 days ago
					</div>
				</div>
			</div>
		</div>
		<div class="row py-3 row-cols-1 row-cols-md-2 g-4 d-flex justify-content-center">
			<div class="col">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<button type="button" class="btn btn-primary position-relative">
							Inbox
							<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">99+<span class="visually-hidden">unread messages</span></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row py-3 row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
			<div class="col">
				<div class="card">
					<div class="card-header">
						Quote
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>A well-known quote, contained in a blockquote element.</p>
							<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						Quote
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>A well-known quote, contained in a blockquote element.</p>
							<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
		<div class="row py-3 row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
			<div class="col">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						Offcanvas
					</div>
					<div class="card-body">
						<p class="card-text">Offcanvas allows you to keep information out of view, but easily accessbile when needed.</p>
						<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Scrolling</button>
						<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStatic" aria-controls="offcanvasStatic">Static</button>

						<div class="offcanvas offcanvas-start" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="offcanvasStatic" aria-labelledby="offcanvasStaticLabel">
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasStaticLabel">Static offcanvas without body scrolling</h5>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<p>Try scrolling the rest of the page to see this option in action.</p>
							</div>
						</div>
						<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<p>Try scrolling the rest of the page to see this option in action.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
<%- include("../base/footer.ejs") %>
