<!DOCTYPE html>
<!--	gallery.ejs

	For BlaineHarper.com
	ExpressJS Bootstrap Seed, https://ebs.blaineharper.com/gallery
	by Blaine Harper

	PURPOSE: 
-->
<%- include("../base/navbar.ejs") %>
<div class="container-fluid">
	<div style="padding-top:6rem!important;" class="container py-5 text-center">
		<h1><%- title %></h1>
	</div>
</div>
<%- include("../base/gallery.ejs") %>
<%- include("../base/footer.ejs") %>
